In [1]:
from src.shadowork.Data.DataProvider import MasterProvider
from src.shadowork.Data.YFinanceProvider import YFinanceProvider

In [4]:

master = MasterProvider([
    YFinanceProvider("YFinance", "MSFT","5y","1d"),
    YFinanceProvider("SecondProvider","META", "5y", "1d")
])

master.get_all_providers()["YFinance"].get_ohlc()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2019-09-13 00:00:00-04:00,131.600539,131.867980,130.444816,131.161179,23363100,0.0,0.0
2019-09-16 00:00:00-04:00,129.738001,130.568977,129.575628,130.215576,16731400,0.0,0.0
2019-09-17 00:00:00-04:00,130.817350,131.352232,130.311107,131.228058,17814200,0.0,0.0
2019-09-18 00:00:00-04:00,131.199380,132.450624,130.406604,132.307358,23982100,0.0,0.0
2019-09-19 00:00:00-04:00,134.007527,135.984679,133.787846,134.742996,35772100,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-06 00:00:00-04:00,409.059998,410.649994,400.799988,401.700012,19609500,0.0,0.0
2024-09-09 00:00:00-04:00,407.239990,408.649994,402.149994,405.720001,15295100,0.0,0.0
2024-09-10 00:00:00-04:00,408.200012,416.329987,407.700012,414.200012,19594300,0.0,0.0
2024-09-11 00:00:00-04:00,415.500000,423.989990,409.579987,423.040009,19266900,0.0,0.0
2024-09-12 00:00:00-04:00,423.339996,427.369202,419.750000,427.000000,16664119,0.0,0.0

In [15]:
import pandas as pd

def generator(method, data: pd.DataFrame):
    # Initial state
    yield data.copy()
    
    # Apply the method step-by-step
    for i in range(len(data)):
        method(data, i)
        yield data.copy()

def test_function(data: pd.DataFrame, i: int):
    data.at[i, "C"] = data.at[i, "A"] + data.at[i, "B"]

# Sample DataFrame
frame = pd.DataFrame({
    "A": [1, 2, 3, 4, 5],
    "B": [6, 7, 8, 9, 10]
})

# Create generator
gen = generator(test_function, frame)

# Iterate through generator to see each step
for step in gen:
    print(step)

   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
   A   B    C
0  1   6  7.0
1  2   7  NaN
2  3   8  NaN
3  4   9  NaN
4  5  10  NaN
   A   B    C
0  1   6  7.0
1  2   7  9.0
2  3   8  NaN
3  4   9  NaN
4  5  10  NaN
   A   B     C
0  1   6   7.0
1  2   7   9.0
2  3   8  11.0
3  4   9   NaN
4  5  10   NaN
   A   B     C
0  1   6   7.0
1  2   7   9.0
2  3   8  11.0
3  4   9  13.0
4  5  10   NaN
   A   B     C
0  1   6   7.0
1  2   7   9.0
2  3   8  11.0
3  4   9  13.0
4  5  10  15.0

In [8]:
from abc import ABC

class abstraction(ABC):
    def test_me(self):
        print("tested")

In [10]:
class inherited(abstraction):
    def __init__(self):
        print("Initialized")

In [11]:
inh = inherited()

Initialized

In [12]:
inh.test_me()

tested

In [14]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 34, 29, 32],
    'City': ['New York', 'Paris', 'Berlin', 'London']
}
df = pd.DataFrame(data)

# Convert DataFrame to HTML table
html_table = df.to_html()

# Print the HTML table
print(type(html_table))

<class 'str'>

In [16]:
from pandas import DataFrame
from src.shadowork.Models.Model import Model
from src.shadowork.Models.Step import Step

class apreciation(Step):
    ""
    def method(self, data: DataFrame, *args, **kwargs) -> DataFrame:
        return super().method(data, *args, **kwargs)

In [17]:
apreciation("test")

TypeError: Can't instantiate abstract class apreciation with abstract methods method, name